{{#> layout title="카드 짝맞추기"}}
  {{#*inline "body"}}
    <div class="game-board">
      <div class="cards">
        <div class="card star"></div>
        <div class="card circle"></div>
        <div class="card square"></div>
        <div class="card triangle"></div>
        <div class="card heart"></div>
        <div class="card diamond"></div>
        <div class="card spade"></div>
        <div class="card club"></div>
        <div class="card star"></div>
        <div class="card circle"></div>
        <div class="card square"></div>
        <div class="card triangle"></div>
        <div class="card heart"></div>
        <div class="card diamond"></div>
        <div class="card spade"></div>
        <div class="card club"></div>
      </div>
    </div>
    <div class="sidebar">
      <div class="user-list">
        <p>사용자 리스트</p>
        <ul>
          <li>사용자 1</li>
          <li>사용자 2</li>
          <li>사용자 3</li>
        </ul>
      </div>
      <div class="chat">
        <div class="chat-messages"></div>
        <input type="text" class="chat-input" placeholder="메시지를 입력하세요...">
      </div>
    </div>
    <script>
      const socket = io('/{{socket}}');

      socket.emit('events', 'Hello World!');

      (async () => {
        const { encryptedKey, encryptedIV, encryptedData } = await encryptAESWithRSA('신현수 멍청한놈', 'base64')
        request('POST', 'crypto/test', { encryptedKeyBase64: encryptedKey, encryptedIVBase64: encryptedIV, encryptedDataBase64: encryptedData })
      })();
    </script>
  {{/inline}}
{{/layout}}