{{#> layout title="카드 짝맞추기"}}
  {{#*inline "body"}}
    <div class="game-board">
      <div class="cards">
        <div class="card"></div>
        <div class="card"></div>
        <div class="card"></div>
        <div class="card"></div>
        <div class="card"></div>
        <div class="card"></div>
        <div class="card"></div>
        <div class="card"></div>
        <div class="card"></div>
        <div class="card"></div>
        <div class="card"></div>
        <div class="card"></div>
        <div class="card"></div>
        <div class="card"></div>
        <div class="card"></div>
        <div class="card"></div>
      </div>
    </div>
    <script>
      const socket = io('/{{socket}}');

      socket.emit('events', 'Hello World!');

      (async () => {
        const { encryptedKey, encryptedIV, encryptedData } = await encryptAESWithRSA('신현수 멍청한놈', 'base64')
        request('POST', 'crypto/test', { encryptedKeyBase64: encryptedKey, encryptedIVBase64: encryptedIV, encryptedDataBase64: encryptedData })
      })();
    </script>
  {{/inline}}
{{/layout}}