{{#> layout title="카드 짝맞추기"}}
  {{#*inline "main"}}
    <div class="game-board">
      <div class="cards">
        <div class="card"></div>
        <div class="card"></div>
        <div class="card"></div>
        <div class="card"></div>
        <div class="card"></div>
        <div class="card"></div>
        <div class="card"></div>
        <div class="card"></div>
        <div class="card"></div>
        <div class="card"></div>
        <div class="card"></div>
        <div class="card"></div>
        <div class="card"></div>
        <div class="card"></div>
        <div class="card"></div>
        <div class="card"></div>
      </div>
    </div>
    <script>
      const socket = io('/{{socket}}');

      socket.emit('events', 'Hello World!');

      (async () => {
        const { encryptedKey, encryptedIV, encryptedData } = await encryptAESWithRSA('신현수 멍청한놈')
        const encryptedKeyBase64 = await arrayBufferToBase64(encryptedKey);
        const encryptedIVBase64 = await arrayBufferToBase64(encryptedIV);
        const encryptedDataBase64 = await arrayBufferToBase64(encryptedData);
        request('POST', 'crypto/test', { encryptedKeyBase64, encryptedIVBase64, encryptedDataBase64 })
      })();
    </script>
  {{/inline}}
{{/layout}}