{{#> layout title="카드 짝맞추기"}}
  {{#*inline "body"}}
    <div>
      <h3>LineVision 통합 로그인을 이용해주세요</h3>
      <h4><a href="http://211.208.211.253:3000/login">바로가기</a></h4>
    </div>
  {{/inline}}
{{/layout}}