<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/public/css/root.css">
  <script src="/socket.io/socket.io.js"></script>
  <script src="/public/js/util.js"></script>
</head>
<body>
  <div class="nav">
    <div class="logo">
      <a href="/">CPG</a>
    </div>
    <ul class="nav-list">
      <li><a href="/game/single">싱글플레이</a></li>
      <li><a href="/game/room">방찾기</a></li>
      <li><a href="/leaderboard">리더보드</a></li>
    </ul>
    <ul class="nav-list right">
      <li><a href="/login">로그인</a></li>
    </ul>
  </div>
  <div class="section">
    {{#> body}}{{/body}}
  </div>
  <div class="footer">
    <p>Footer</p>
  </div>
</body>
</html>